.row {
    background-color: #f3f3f5;
}

h1, p {
    color: black;
}

.col-12 {
    margin-top:100px;
}

.col-12 img {
    margin-top:80px;
    margin-bottom:80px;
}

.col-4 {
    text-align: center;
}

.circle {
    margin-left: 70px;
    border-radius: 50%;
    height: 450px;
    width: 450px;
    border: solid 1px #b0b1b2;
}

.circle h1:first-child {
    margin-top: 60px;
    color:#00a1e0;
}

.circle div {
    padding: 30px;
}