<div class="row text-center">
    <div class="col-12">
        <h1>Ürünler ve Hizmetler</h1>
        <img src="../../assets/asset04.png" alt="">
    </div>
    <div class="col-4">
        <div class="circle">
            <div>
                <h1>#01</h1>
                <h1>Sürdürülebilirlik</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, perferendis? Repudiandae quae dolore
                    reprehenderit voluptate nemo obcaecati totam repellat aliquid voluptatum exercitationem, eveniet maiores
                    tempore iusto earum in autem eligendi.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="circle">
            <div>
                <h1>#02</h1>
                <h1>Müşteri Odaklılık</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit odio aut neque, deserunt illumn incidunt
                    sed perspiciatis tenetur nemo aliquid, voluptatem reiciendis numquam! Harum laboriosam iure illo,
                    maiores at accusantium.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="circle">
            <div>
                <h1>#03</h1>
                <h1>Güvenilirlik</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis veniam veritatis alias tempore
                    quibusdam aliquam culpa mollitia voluptates? Commodi, enim quia? Ipsa molestiae adipisci animi
                    laudantium aspernatur tenetur sit modi?</p>
            </div>
        </div>
    </div>
</div>