<nav class="navbar navbar-expand-sm fixed-top">
    <a class="navbar-brand ml-5" href="#"><img src="../../assets/logo.png" alt="logo"></a>
    <ul class="navbar-nav ml-5">
        <li class="nav-item">
            <a class="nav-link mt-5" href="#">Kurumsal</a>
        </li>
        <li class="nav-item mt-5">
            <a class="nav-link" href="#">Ürün</a>
        </li>
        <li class="nav-item mt-5">
            <a class="nav-link" href="#">Üretim</a>
        </li>
        <li class="nav-item mt-5">
            <a class="nav-link" href="#">İletişim</a>
        </li>
    </ul>
</nav>