.row {
    background-color:#f3f3f5;
}

.row img {
    margin-top:200px;
    display: block;
    position: absolute;
}

p, h1 {
    color:white;
    text-align: center;
}

h1 {
    font-size: 65px;
}

p {
    font-size: 40px;
}

.text-center {
    margin-top: 200px;
    padding: 200px;
    display: block;
    position: relative;
}