<div class="row text-center">
    <div class="col-12">
        <h1>Ürünler ve Hizmetler</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic tempora, cumque earum nemo sint veniam,
            reprehenderit ullam molestiae delectus ad autem quia corrupti harum. Quasi dolorem voluptatem accusamus quae
            corporis.
        </p>
    </div>
</div>
<div class="row text-center">
    <div class="col-4">
        <div class="urunKutu">
            <img src="../../assets/urun01.png">
            <h1>Sac Grubu</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam ex consequuntur voluptatibus, molestias
                non nostrum accusamus perspiciatis repellendus culpa tempora eius suscipit id perferendis totam atque
                hic facere dolorem corrupti.</p>
            <button><img src="../../assets/go.png" alt=""></button>
        </div>
    </div>
    <div class="col-4">
        <div class="urunKutu">
            <img src="../../assets/urun01.png">
            <h1>Sac Grubu</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam ex consequuntur voluptatibus, molestias
                non nostrum accusamus perspiciatis repellendus culpa tempora eius suscipit id perferendis totam atque
                hic facere dolorem corrupti.</p>
            <button><img src="../../assets/go.png" alt=""></button>
        </div>
    </div>
    <div class="col-4">
        <div class="urunKutu">
            <img src="../../assets/urun01.png">
            <h1>Sac Grubu</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam ex consequuntur voluptatibus, molestias
                non nostrum accusamus perspiciatis repellendus culpa tempora eius suscipit id perferendis totam atque
                hic facere dolorem corrupti.</p>
            <button><img src="../../assets/go.png" alt=""></button>
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="col-4">
        <div class="urunKutu">
            <img src="../../assets/urun01.png">
            <h1>Sac Grubu</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam ex consequuntur voluptatibus, molestias
                non nostrum accusamus perspiciatis repellendus culpa tempora eius suscipit id perferendis totam atque
                hic facere dolorem corrupti.</p>
            <button><img src="../../assets/go.png" alt=""></button>
        </div>
    </div>
    <div class="col-4">
        <div class="urunKutu">
            <img src="../../assets/urun01.png">
            <h1>Sac Grubu</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam ex consequuntur voluptatibus, molestias
                non nostrum accusamus perspiciatis repellendus culpa tempora eius suscipit id perferendis totam atque
                hic facere dolorem corrupti.</p>
            <button><img src="../../assets/go.png" alt=""></button>
        </div>
    </div>
    <div class="col-4">
        <div class="urunKutu">
            <img src="../../assets/urun01.png">
            <h1>Sac Grubu</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam ex consequuntur voluptatibus, molestias
                non nostrum accusamus perspiciatis repellendus culpa tempora eius suscipit id perferendis totam atque
                hic facere dolorem corrupti.</p>
            <button><img src="../../assets/go.png" alt=""></button>
        </div>
    </div>
</div>